* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
    padding-top: 40px;
    text-transform: uppercase;
    background-color: rgb(210, 218, 224);
}

h1,
h2,
h3 {
    font-weight: bold;
    text-align: center;
}

.header-home {
    background-image: url("img/Banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo img {
    height: 280px;
    border: 12px solid rgb(2, 2, 92);
    border-radius: 100%;
    margin-left: 15px;
    margin-top: 15px;
}

.header-home h1 {
    align-self: flex-start;
    color: black;
    text-shadow: 3px 3px 15px white;
    margin: 2px;
    font-size: 5rem;
    letter-spacing: 7px;
}

.header-home .nav,
.header-paginas .nav {
    display: flex;
    top: 0;
    position: fixed;
    align-self: center;
    background-color: black;
    width: 100%;
}

.menu {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    list-style: none;
}

.nav {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    list-style: none;
    padding: 9px;
    font-size: 24px;
    text-align: center;
}

.header-home .nav a,
.header-paginas .nav a {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
}

.nav .link-item:hover {
    background-color: rgb(11, 6, 59);
}

.button-menu {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: 75% 25%;
}

.container .article {
    background-color: rgb(93, 128, 116);
    flex: 65%;
    margin: 2PX;
}

.container .article .section-info1,
.container .article .section-info2,
.container .article .section-info3 {
    padding: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.container .article .info h2,
.container .article .info p {
    padding: 20px 0;
}

.section-info1 {
    background-image: url("img/Imagen2 section.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    text-shadow: 3px 3px 8px white;
    font-size: 2.5em;
    letter-spacing: 6px;
    justify-content: center;
}

.section-info1,
.section-info2,
.section-info3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*grid*/
.container .aside {
    margin: 2px;
    background-color: rgb(65, 87, 87);
    display: grid;
    place-items: center;
}

.aside .aside1 img,
.aside .aside2 img,
#video-aside {
    width: 100%;
    padding-top: 35px;
}

.aside .aside1,
.aside .aside2,
.aside .aside3 {
    padding: 20px;
    margin: 2px;
    text-align: center;
    justify-content: center;
}

footer {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    margin: 2px;
    display: flex;
    justify-content: center;
}

/*paginas*/
.header-paginas {
    margin: 5px;
}

/*menu2 form contacto*/
.main-form h1 {
    text-align: center;
    margin-top: -200px;
    font-size: 2.3rem;
}

.main-form {
    margin: 0 auto;
}

#form-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-form {
    place-self: center;
}

/*menu3 iframe*/
.mapa {
    text-align: center;
    font-size: 1.5rem;
}

.mapa h1 {
    margin-top: -200px;
}

#container-map {
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-map {
    place-self: center;
}

.como-llegar {
    margin-bottom: 80px;
    display: flex;
}

/*menu4 galeria*/
.galeria-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 80px;
    justify-content: center;
}

.p-h1 {
    font-size: 40px;
    font-size: 2.3rem;
    margin-left: 50px;
    margin-top: -200px;
}

.p-h2 {
    padding: 100px;
}

.p-h3 {
    padding: 10px;
    margin-bottom: 35px;
}

.gal {
    width: 377px;
    height: 220px;
    object-fit: cover;
    border: 3px solid rgb(180, 204, 226);
    margin: 5px 30px;
}

.galeria {
    box-shadow: 10px 4px 20px 2px rgb(121, 185, 248);
}

.galeria:hover {
    border: 2px solid rgb(112, 169, 223);
    transform: rotate(-2deg);
}

/*menu5 historia*/
.historia {
    text-align: center;
    font-size: 1.6rem;
    margin-top: -200px;
    margin-bottom: 80px;
}

.historia h1 {
    padding-bottom: 80px;
}

.p-hist {
    border: 4px solid black;
    border-radius: 1%;
    padding: 40px;
    margin: 90px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {

    .logo img {
        height: 150px;
    }

    .container {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-areas: "main" "aside";
    }

    .section-info1 {
        font-size: 2em;
    }

    .aside1,
    .aside2,
    .aside3 {
        margin: 2vh;
    }

    /*menu2 form contacto*/
    .main-form h1 {
        margin: -100px auto 0 100px;
    }

    /*menu3 iframe*/
    .mapa h1 {
        margin-top: -100px;
        margin-left: 160px;
    }

    /*menu4 galeria*/
    .p-h1 {
        margin-top: -100px;
        margin-left: 100px;
    }

    .p-h2 {
        padding: 70px;
    }

    .p-h3 {
        padding: 30px;
        margin-top: 30px;
        margin-bottom: 0;
    }

    /*menu5 historia*/
    .historia {
        margin-top: -100px;
    }

    .historia h1 {
        margin-top: 0;
        margin-left: 120px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding-top: 0;
    }

    .header-paginas .logo img {
        height: 100px;
        margin-left: 150px;
        margin-top: 80px;
        border: 6px solid rgb(2, 2, 92);
    }

    .header-home .logo img {
        height: 100px;
        margin-left: 30px;
        margin-top: 80px;
        border: 6px solid rgb(2, 2, 92);
    }

    .header-paginas,
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        margin-left: -100%;
        transition: all .2s linear;
        background-color: rgba(0, 0, 0, .7);
        z-index: 100;
    }

    .header-paginas,
    .nav.show {
        margin-left: 0;
    }

    .header-paginas,
    .nav .menu {
        background-color: rgb(250, 250, 250, 0.95);
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
    }

    .header-home .nav a,
    .header-paginas .nav a {
        color: hsl(237, 63%, 29%);
    }

    .link-item {
        margin-top: 2rem;
        text-decoration: none;
        font-weight: bold;
        position: relative;
    }

    .link-item::after {
        position: absolute;
        content: "";
        background-color: black;
        bottom: -5px;
        left: 0;
        width: 0%;
        height: 3px;
        transition: 0.3s ease all;
    }

    .link-item:hover::after {
        width: 100%;
    }

    .nav .link-item:hover {
        background-color: hsl(237, 63%, 29%);
        color: whitesmoke;
    }

    .button-menu {
        z-index: 200;
        width: 60px;
        height: 60px;
        border: none;
        display: flex;
        background: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .header-paginas,
    .button-menu {
        z-index: 200;
        width: 60px;
        height: 60px;
        border: none;
        display: flex;
        background: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .header-home .button-menu span {
        width: 37px;
        height: 4px;
        bottom: 470%;
        margin-bottom: 5.5px;
        position: relative;
        background: #ffffff;
        border-radius: 2.5px;
        transform-origin: 4px 0px;
        transition: all 0.2s linear;
    }

    .header-paginas .button-menu span {
        width: 37px;
        height: 4px;
        bottom: 290%;
        margin-bottom: 5.5px;
        position: relative;
        background: #ffffff;
        border-radius: 2.5px;
        transform-origin: 4px 0px;
        transition: all 0.2s linear;
    }

    .button-menu span:hover {
        background: rgba(241, 237, 237, 0.7);
    }

    .button-menu.close span:hover {
        background: hsl(237, 35%, 22%);
    }

    .header-home .button-menu.close span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
        transition: all 0.3s linear;
        background: hsl(237, 35%, 22%);
        bottom: 480%;
        left: 620%;
    }

    .header-paginas .button-menu.close span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
        transition: all 0.3s linear;
        background: hsl(237, 35%, 22%);
        bottom: 430%;
        left: 630%;
    }

    .button-menu.close span:nth-child(2) {
        transform: rotate(-45deg) translate(-9px, 6px);
        transition: all 0.3s linear;
    }

    .button-menu.close span:nth-child(3) {
        display: none;
    }

    .header-home .nav,
    .header-paginas .nav {
        background-color: rgba(0, 0, 0, 0);
    }

    .header-home .nav,
    .header-paginas .nav {
        margin-top: .5%;
    }

    .header-home .header-paginas {
        font-size: 2.5rem;
    }

    .header-home h1 {
        font-size: 2rem;
    }

    h1 {
        padding: 2rem;
        font-weight: 600;
        font-size: 4vh;
    }

    .section-info1 {
        font-size: 1em;
        letter-spacing: 3px;
    }

    .section-home-img {
        height: 150px;
    }

    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 73% 27%;
    }

    .container .article .info {
        padding: 5px;
    }

    .container .aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .aside .aside1,
    .aside .aside2,
    .aside .aside3 {
        padding: 2px auto;
        margin: 1%;
        text-align: center;
        justify-content: center;
    }

    .aside .aside1 img,
    .aside .aside2 img,
    #video-aside {
        padding: 5px 2px;
        padding-top: 5px;
        margin: 1px;
    }

    .aside .aside1 img {
        width: 100px;
        height: 100px;
    }

    .aside .aside2 img {
        width: 100px;
        height: 125px;
    }

    #video-aside {
        width: 125px;
        height: 100px;
    }

    /*menu2 form contacto*/
    .main-form h1 {
        margin: 90px auto 0;
        font-size: 1.3rem;
    }

    .iframe-form {
        width: 410px;
        height: 410px;
        margin: 50px 10px 200px;

    }

    /*menu3 iframe*/
    .mapa h1 {
        margin: 90px auto 0;
    }

    #container-map {
        margin: 10px auto 50px 0;
    }

    .mapa {
        font-size: 1rem;
    }

    .iframe-map {
        width: 280px;
        height: 280px;
    }

    .como-llegar {
        margin: 10px 10px 30px;
    }

    /*menu4 galeria*/
    .p-h1 {
        margin-top: 85px;
        margin-left: 10px;
        font-size: 4vh;
    }

    .p-h2 {
        padding: 15px;
        font-size: 3.5vh;
    }

    .p-h3 {
        padding: 20px;
        margin: 20px 0 0 auto;
        font-size: 3vh;
    }

    .gal {
        width: 290px;
        height: 150px;
        margin: 2px auto;
    }

    /*menu5 historia*/
    .historia {
        margin-top: 80px;
    }

    .historia h1 {
        margin: 100px 0 auto -10px;
    }

    .p-hist {
        padding: 10px;
        margin: 40px 10px 10px;
        font-size: 1rem;
    }
}